@{
    ViewData["Title"] = "Authorize";
    Dictionary<string, string> loginParameters = new Dictionary<string, string>
    {
        { "client_id", ViewData["LoginClientId"]?.ToString() },
        { "redirect_uri", ViewData["LoginRedirectUrl"]?.ToString() },
        { "response_type", "code" }
    };
}

<div>
    <h1>Big Gray Bison <img src="~/image/Bison-Silhouette.svg" style="height:1.1em" /></h1>
    <h2>Authorization</h2>
    <a asp-controller="CreateUser" >Create User</a>
    <a asp-controller="Login" asp-action="Index" asp-all-route-data="loginParameters">Login</a>
</div>
